.dia-container {
  display: flex !important;
  flex-direction: column !important;
  gap: 6px !important;
}
/*
.doctor-card {
  display: flex !important;
  align-items: center !important;
  background: #f5f5f5 !important;
  padding: 4px !important;
  border-radius: 6px !important;
  cursor: pointer !important;

  img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
  }

  .info {
    margin-left: 6px !important;
    font-size: 11px !important;
  }

  i {
    color: green !important;
    margin-left: auto !important;
  }

  .badge {
    background: #1976d2 !important;
    color: #fff !important;
    font-size: 10px !important;
    border-radius: 6px !important;
    padding: 2px 6px !important;
    width: fit-content !important;
  }
}
*/
.dia-bloqueado {
  background: #eee !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 100%;
}

/* LINEA 1 */
.linea-1 {
  display: flex;
  align-items: center;
  gap: 6px;
}

.doctor-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.doctor-info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

/* LINEA 2 */
.linea-2 {
  text-align: center;
  font-weight: bold;
  margin: 4px 0;
  width: 100%;
}

/* LINEA 3 */
.linea-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  background: #17a2b8;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 11px;
}

.add-cita {
  width: 20px;
  cursor: pointer;
}

.fc-event-main {
  display: block !important;
}

.fc-dia-feriado {
  background-color: #EEE !important;
  pointer-events: none !important; // bloquea clicks
  opacity: 0.6 !important;
}

.ng-option{
  padding: 5px 5px 5px 5px !important;
}

.multiselect-dropdown .dropdown-btn{
  padding: 5px 12px !important;
  border: 1px solid #DDDDDD !important;
  color: #66615b !important;
}

.myCustomModalClassSupervisores .modal-dialog {
  max-width: 800px;
}


ngb-modal-backdrop {
  z-index: 1040 !important;
}

.modal.show {
  z-index: 1050 !important;
}
