<div class="main-content">
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <h5 class="card-title">{{ titleForm }}</h5>
              </div>
              </div>
              <div class="col-md-6 pr-1" style="text-align: right;">
                <div class="form-group">
                  <ng-container *ngIf="atenderCita === 'ASIG'">
                  <button class="btn btn-info" (click)="actualizarDataFlujo('PROC')"> Atender Cita </button>
                  <button class="btn btn-warning" (click)="viewCards()"> Cancelar </button>
                </ng-container>
                  <button class="btn btn-success" *ngIf="atenderCita === 'PROC'" (click)="actualizarDataFlujo('ATEN')"> Terminar Cita </button>
                  <button class="btn btn-info" *ngIf="atenderCita === 'ATEN'" (click)="viewCardsReload()"> Regresar </button>
                  
                </div>
              </div>
            </div>
          </div>
      <div class="card-body">
<div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#datos" role="tab" aria-expanded="true">Datos Personales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#diagnostico" role="tab" aria-expanded="false">Diagnóstico y Receta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#historial" role="tab" aria-expanded="false">Historial</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="my-tab-content" class="tab-content text-center">
            <div class="tab-pane active" id="datos" role="tabpanel" aria-expanded="true">
              <form [formGroup]="pacienteForm">
                  <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Nombres</label>
                      <input type="text" formControlName="nombres" class="form-control" placeholder="Nombres">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Apellidos</label>
                      <input type="text" formControlName="apellidos" class="form-control" placeholder="Apellidos">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Identificacion</label>
                      <input type="text" maxlength="10" maxlength="10" [maxLength]="10" formControlName="identificacion" (keypress)="this.classGeneral.soloNumeros($event)" class="form-control" placeholder="Identificación">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Edad</label>
                      <input type="text" maxlength="2" maxlength="2" [maxLength]="2" (keypress)="this.classGeneral.soloNumeros($event)" formControlName="edad" class="form-control" placeholder="Edad">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" maxlength="7" maxlength="7" [maxLength]="7" formControlName="telefono" (keypress)="this.classGeneral.soloNumeros($event)" class="form-control" placeholder="Teléfono">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Celular</label>
                      <input type="text" maxlength="10" maxlength="10" [maxLength]="10" (keypress)="this.classGeneral.soloNumeros($event)" formControlName="celular" class="form-control" placeholder="Celular">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="diagnostico" role="tabpanel" aria-expanded="false">
                <div class="mb-3">
                  <label>Diagnóstico</label>
                  <angular-editor [(ngModel)]="htmlContentDiagnostico" id="diagnostico" class="altoeditor" placeholder="Escribe aquí..."></angular-editor>

                </div>

                <div class="mb-3">
                  <label>Receta</label>
                  <angular-editor [(ngModel)]="htmlContentReceta" id="receta" class="altoeditor" placeholder="Escribe aquí..."></angular-editor>
                </div>
            </div>
            <div class="tab-pane" id="historial" role="tabpanel" aria-expanded="false">
                <ng-container>
                        <div *ngIf="totFilasHistorial > 0" class="card card-timeline card-plain">
                            <div class="card-body">
                              <ul class="timeline timeline-simple">
                                <li *ngFor="let dto of arrayDataH | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="timeline-inverted">
                                  <div class="timeline-badge success">
                                    <i class="nc-icon nc-single-copy-04"></i>
                                  </div>
                                  <div class="timeline-panel" style="text-align: left !important;">
                                    <div class="timeline-heading">
                                      <span class="badge badge-pill badge-success">{{this.generarTitulo(dto)}}</span>
                                    </div>
                                    <div class="timeline-body">
                                      <p>{{this.mostrarCaracteres(dto.diagnostico)}}</p>
                                    </div>
                                    <h6>
                                      <button class="btn btn-info" (click)="abrirModal(dto)">Visualizar</button>
                                    </h6>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div *ngIf="totFilasHistorial == 0" class="card card-timeline card-plain">
                                    No posee historial clínico
                          </div>
                </ng-container>
            </div>
          </div>
        <div class="row">
            <div class="col-md-12 pr-1">
             
            </div>
        </div>
      </div>
  </div>
</div>
</div>